.container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #f0f2f5;

  .pageContent {
    width: 100%;
  }

  .contentBody {
    flex: 1;
    .content {
      overflow: auto;
      height: calc(100vh - 90px);
      padding: 10px;
    }
  }
}
