.tagsPanel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
  overflow-x: auto;

  .btn {
    display: inline-flex;
    align-items: center;
    padding: 3px 12px;
    font-size: 13px;
    margin-right: 5px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    .icon {
      margin-left: 5px;
    }
  }
  .active {
    background: #4bc2c5;
    border-color: #4bc2c5;
    color: #fff;

    &:before {
      content: '';
      background: #fff;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: relative;
      margin-right: 5px;
      opacity: 1;
    }
  }
}
