.container {
  height: 100vh;
  overflow: hidden;

  .pageContent {
    display: flex;
  }

  .contentBody {
    flex: 1;
    padding: 10px;
    background: #f0f2f5;

    .content {
      padding: 10px;
      background: #fff;
      height: calc(~'100vh - 115px');
      overflow: auto;
    }
  }

  :global {
    .ant-pro-table-search {
      margin-bottom: 0;
      padding: 10px 24px 0;
    }
  }
}
