.menu {
  position: relative;
  width: 200px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

  .logoText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 16px 12px;
    color: #001529;
    font-size: 16px;
    & > img {
      width: 32px;
      height: 32px;
    }
    & > h1 {
      margin: 0 0 0 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .menuTree {
    height: calc(100vh - 95px);
    overflow-y: auto;
  }
}
.collapsedMenu {
  width: auto;
}
