.menu {
  position: sticky;
  top: 50px;
  width: 200px;
  max-height: 450px;
  margin-right: 10px;
  flex-shrink: 0;
  .menuList {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  .menuItem {
    cursor: pointer;
    position: relative;
    a {
      display: flex;
      align-items: center;
      color: #333;
      padding: 10px 0 10px 12px;
      line-height: 20px;
      .fontIcon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
      }
      .imgIcon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      right: 10px;
      top: 20px;
      border-left: 2px solid #e6e6e6;
      border-bottom: 2px solid #e6e6e6;
      transform: translateY(-50%) rotate(-135deg);
    }
    &:hover::after,
    &.active::after {
      border-color: #303030;
    }
    &.active > a {
      background: #f4f5f5;
      position: relative;
      color: #303030;
      border-radius: 4px;
      font-weight: 600;
    }
  }

  .menuChildren {
    display: block;
    min-width: 160px;
    background: #fff;
    border-radius: 4px;
    .menuItem {
      overflow: hidden;
      padding-left: 10px;
    }
  }
}
