.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .mainContent {
    flex: 1;
  }

  .contentBody {
    padding: 10px;
    background: #f0f2f5;
    height: calc(~'100% - 100px');
    overflow: auto;

    .content {
      padding: 10px;
      background: #fff;
      height: 100%;
    }
  }
}
