.main {
  height: 100vh;
  overflow: hidden;

  .mainContent {
    display: flex;
  }

  .contentBody {
    flex: 1;
    padding: 10px;
    background: #f0f2f5;
    height: calc(~'100vh - 40px');
    overflow: auto;

    .content {
      padding: 10px;
      background: #fff;
      min-height: 100%;
    }
  }
}
