.commentPage {
  :global {
    .ant-form-item-explain,
    .ant-form-item-explain-error {
      display: none !important;
    }
    .ant-form-item {
      margin-bottom: 10px !important;
    }
    .ant-input:focus,
    .ant-input-focused {
      box-shadow: none;
    }
  }
}
