.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  .headerContent {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
  }

  .menuItem {
    width: 80px;
    text-align: center;
  }
}
