.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;

  .menuItem {
    width: 80px;
    text-align: center;
  }
  .username {
    cursor: pointer;
    .avatar {
      width: 24px;
      height: auto;
      margin-right: 6px;
    }
  }
}
